<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.connor.unsplashgram">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unsplashgram"
        android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        <activity
            android:name=".ui.UserActivity"
            android:launchMode="singleTask"
            android:exported="false"/>
        <activity
            android:name=".common.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PhotoViewActivity"
            android:exported="false"
            android:theme="@style/PhotoViewsActivityTheme"/>
        <activity
            android:name=".ui.PhotoDetailActivity"
            android:exported="false"
            android:theme="@style/PhotoDetailActivityTheme" />
        <activity
            android:name=".ui.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>